.footer-bottom {
  background-color: var(--grey-1);
  color: var(--grey-2);
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: var(--haus-rg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-bottom__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.footer-bottom__bottom {
  margin: 1.5rem 0 0;
}
