@font-face {
  font-family: "Helvetica Now Display Medium";
  src: url(../assets/fonts/HelveticaNowDisplayMedium.woff2) format("woff2");
}

@font-face {
  font-family: "Helvetica Now Text Medium";
  src: url("../assets/fonts/HelveticaNowTextMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText.woff2") format("woff2");
}

@font-face {
  font-family: "Nike Futura OT 300";
  src: url("../assets/fonts/Nike-Futura-ot-300.woff2") format("woff2");
}

@font-face {
  font-family: "Nike Futura";
  src: url("../assets/fonts/Nike-Futura.woff2") format("woff2");
}

@font-face {
  font-family: "Nike TG";
  src: url("../assets/fonts/Nike-TG.woff2") format("woff2");
}

@font-face {
  font-family: "Nike Glyphs";
  src: url("../assets/fonts/nike-glyphs.woff") format("woff");
}

:root {
  /* colors */
  --white: #ffffff;
  --black: #111111;
  --grey-1: #f5f5f5;
  --grey-2: #e5e5e5;
  --grey-3: #d8d4d4;
  --grey-4: #757575;
  --grey-5: #cacacb;
  --grey-6: #9e9ea0;
  --grey-7: #707072;
  --grey-8: #666b71;
  --grey-9: #7e7e7e;

  /* fonts */
  --helvetica-display: "Helvetica Now Display Medium", Helvetica, Arial,
    sans-serif;
  --helvetica-text-md: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  --helvetica-text: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  --futura-300: "Nike Futura OT 300", "Helvetica Now Text Medium", Helvetica,
    Arial, sans-serif;
  --futura: "Nike Futura", "Nike Futura OT 300", "Helvetica Now Text Medium",
    Helvetica, Arial, sans-serif;
  --glyphs: "Nike Glyphs", "Helvetica Now Display Medium", Helvetica, Arial,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--helvetica-text);
  color: var(--podium-cds-color-black);
  background-color: var(--podium-cds-color-white);
  font-size: 1.6rem;
  font-weight: 500;
  overflow-x: hidden;
}

.main {
  max-width: 96%;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.nike-glyphs {
  font-family: var(--glyphs);
  font-size: 1.4rem;
  line-height: 3.3rem;
}

/* Buttons */

.btn {
  padding: 0.6rem 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: var(--helvetica-text-md);
  border-radius: 25rem;
  border: none;
  cursor: pointer;

  white-space: nowrap;
}

.btn-dark {
  background-color: var(--black);
  color: var(--white);
}

.btn-dark:hover {
  background-color: var(--grey-7);
}

.btn-light {
  background-color: var(--white);
  color: var(--black);
}

.btn-light:hover {
  background-color: var(--grey-6);
}

.btn-outline {
  background-color: var(--white);
  border: 0.1rem solid var(--grey-2);
}

.btn-outline:hover {
  border: 0.1rem solid var(--black);
}

.btn-underline {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-family: var(--helvetica-text-md);
  padding-bottom: 0.1rem;
  border-bottom: 0.2rem solid var(--black);
  cursor: pointer;
}

.btn-underline:hover {
  color: var(--grey-7);
}

/* Carousel Control Buttons */
.carousel-controls {
  margin-bottom: 1.2rem;

  align-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.carousel-control {
  padding: 1.2rem;
  border: none;
  border-radius: 100%;
  font-size: 2.4rem;

  background-color: var(--grey-2);
  color: var(--black);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control:hover {
  background-color: var(--grey-5);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Section Titles */
.section-title-with-link {
  width: 100%;
  margin-bottom: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title-with-link > .title {
  font-family: var(--helvetica-text-md);
  font-size: 2.4rem;
  line-height: 2.88rem;
  font-weight: 500;
}

.section-title-with-link > .title,
.section-title-with-controls > .title {
  font-size: 2.4rem;
  line-height: 2.88rem;
  font-weight: 500;
}

.section-title-with-link > .link:link,
.section-title-with-link > .link:visited {
  font-family: var(--helvetica-text-md);
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--black);
}

.section-title-with-link > .link:hover,
.section-title-with-link > .link:active {
  color: var(--grey-7);
}

.section-title-with-controls {
  width: 100%;
  margin-bottom: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-family: var(--helvetica-text-md);
  width: 100%;
  font-size: 2.4rem;
  line-height: 2.88rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

/* Banner Section */

.banner-section {
  width: 100%;
  margin-bottom: 8.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-section-img-box {
  width: 100%;
}

.banner-section-img {
  width: 100%;
  margin-bottom: 4.8rem;
}

.banner-section-caption-box {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-section-subheading {
  line-height: 2.4rem;
  margin-bottom: 0.4rem;
}

.banner-section-heading {
  font-size: 7.6rem;
  font-family: var(--futura);
  line-height: 6.84rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.banner-section-body {
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

/* Three Grid Section */
.three-grid-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  gap: 1.2rem;
  position: relative;

  margin-bottom: 8.4rem;
}

.three-grid-section-img-box {
  width: 100%;
  height: 100%;
  margin-bottom: 4.8rem;
}

.three-grid-section-img {
  width: 100%;
  height: 100%;
}

.three-grid-section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}

.three-grid-section-caption {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: var(--helvetica-text-md);
  white-space: nowrap;
}

.three-grid-section-caption-heading {
  margin-bottom: 0.8rem;
}

.three-grid-section-caption-body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: var(--helvetica-text);
  margin-bottom: 2.4rem;
}

/* Two Grid Section */
.two-grid-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  gap: 1.2rem;

  margin-bottom: 8.4rem;
}

.two-grid-section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}

.two-grid-section-img-box,
.two-grid-section-img {
  width: 100%;
  height: 100%;
}

.two-grid-section-caption {
  position: absolute;
  bottom: 5%;
  left: 3%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-family: var(--helvetica-text-md);
  line-height: 2.4rem;
  color: var(--white);
}

.two-grid-section-caption-title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.two-grid-section-caption-body {
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

/* Overlay Card */
.overlay-caption-card {
  margin-bottom: 0;
}

.three-grid-caption-overlay {
  position: absolute;
  bottom: 6%;
  left: 6%;
}

.three-grid-caption-overlay-subtitle {
  color: var(--white);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 0.4rem;
}

.three-grid-caption-overlay-title {
  font-family: var(--helvetica-text-md);
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--white);
  margin-bottom: 3rem;
}

/* Filter Section */

.bottom-table {
  margin-bottom: 5.6rem;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-align: left;
  gap: 5rem;
}

.table-list {
  list-style: none;
}

.table-heading {
  margin-bottom: 2.4rem;
}

.table-item {
  color: var(--grey-7);
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.table-item:hover {
  color: var(--black);
}
